# Ignorar las carpetas de dependencias de Node.js
node_modules/

# Ignorar los archivos de variables de entorno (contienen secretos)
.env

# Ignorar las carpetas tem
services\ingestor-grafana-rendimiento\temp_downloads/

